.yunling-color-theme-pink .yunling-toggle input[type=checkbox]:checked + .yunling-toggle-icon {
    background: rgba(233, 30, 99, .5);
}

.yunling-color-theme-pink .yunling-toggle input[type=checkbox]:checked + .yunling-toggle-icon:after {
    background: #e91e63;
}

.yunling-card-header {
    min-height: .48rem;
    padding: .2rem .4rem;
}

.yunling-margin-vertical-lg {
    margin-top: .32rem !important;
    margin-bottom: .32rem !important;
}

.yunling-card {
    background: #fff;
    position: relative;
    border-radius: .04rem;
    font-size: 17px;
}

.yunling-card {
    margin: .08rem;
    box-shadow: 0 0.02rem 0.01rem -0.01rem rgba(0, 0, 0, .2), 0 0.01rem 0.01rem 0 rgba(0, 0, 0, .14), 0 0.01rem 0.03rem 0 rgba(0, 0, 0, .12);
}

.yunling-elevation-10 {
    box-shadow: 0 .06rem .06rem -.03rem rgba(0, 0, 0, .2), 0 .1rem .14rem .01rem rgba(0, 0, 0, .14), 0 .04rem .18rem .03rem rgba(0, 0, 0, .12) !important;
}

.yunling-toggle-icon:after, .yunling-toggle-icon:before {
    content: "";
}

.yunling-card-content-padding {
    padding: 1rem;
}

.yunling-card-content, .yunling-card-content-padding {
    position: relative;
}

.yunling-card-content-padding > .yunling-list {
    margin: -1rem;
}

.yunling-list ul{
    margin: 0;
    padding-inline-start: 0;
}

.yunling-list li {
    position: relative;
    box-sizing: border-box;
}

.yunling-list .yunling-item-content {
    padding-left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    min-height: 2.7rem;

    /*padding-left: .16rem;*/
}

.yunling-list .yunling-item-inner, .yunling-list .yunling-item-media {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: .08rem;
}

.yunling-list .yunling-item-inner {
    position: relative;
    width: 100%;
    padding-top: .24rem;
    min-width: 0;
    padding-bottom: 0.24rem;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-self: stretch;
    align-self: stretch;
}

.yunling-list .yunling-item-inner {
    min-height: 1.3rem;
}

.yunling-list .yunling-item-inner {
    padding: 0 1rem;
}

.yunling-list .yunling-item-inner > div {
    font-size: 14px;
}

.yunling-toggle {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    -webkit-align-self: center;
    align-self: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yunling-toggle {
    width: 1rem;
    height: .28rem;
}

.yunling-toggle-icon:after {
    background: #fff;
    position: absolute;
    z-index: 2;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-duration: .3s;
}

.yunling-toggle-icon:after {
    height: 0.51rem;
    width: .5rem;
    top: -.03rem;
    box-shadow: 0 0.02rem 0.05rem rgba(0, 0, 0, .4);
    border-radius: 50%;
    left: -5px;
}

.yunling-toggle-icon {
    width: 0.9rem;
    height: .46rem;
    border-radius: 1.14rem;
    background: #b0afaf;
}

.yunling-toggle-icon {
    z-index: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    position: relative;
    transition: .3s;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.yunling-card-footer, .yunling-card-header {
    min-height: .44rem;
    position: relative;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    min-height: 1.33rem;
    padding: 1rem .7rem;
}

.yunling-card-footer {
    border-radius: 0 0 .04rem .04rem;
}

.yunling-card-footer {
    color: #757575;
}

.yunling-card-footer a.yunling-link, .yunling-card-header a.yunling-link {
    text-decoration: none;
    text-align: center;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding: 0 .1rem;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .14rem;
    position: relative;
    overflow: hidden;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    color: #2196f3;
    border-radius: .04rem;
    /* line-height: .36rem; */
    text-transform: uppercase;
    min-width: .64rem;
    padding: 0 .08rem;
    border: none;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-weight: 500;
    letter-spacing: .03em;
}

.yunling-font-size-12 {
    font-size: .12rem !important;
}

.yunling-text-color-gray {
    color: #9e9e9e !important;
}

.yunling-display-flex {
    display: -webkit-flex !important;
    display: flex !important;
}

.yunling-text-underline {
    text-underline-position: under;
    text-decoration: underline;
}

.yunling-list .yunling-item-inner:after, .yunling-card-header:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .12);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 0.063rem;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.yunling-list .yunling-item-content {
    padding-left: 0;
}

.yunling-card a.yunling-link {
    color: #e91e63;
}

.yunling-item-content a.yunling-button-red {
    background-color: #f44336;
    color: #fff;
    border-radius: .3rem;
    line-height: 2.3rem;
    height: 2.3rem;
    text-transform: uppercase;
    min-width: 2rem;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .14rem;
    position: relative;
    overflow: hidden;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0 0.08rem;
    width: 100%;
    border: none;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-weight: 500;
    letter-spacing: .03em;
}

.yunling-card-header p {
    margin: 1em 0;
    text-indent: 0;
}

.yunling-reader-chapter-order {
    background-color: #eee6dd;
    padding: 100px 8px;
}