{extend name="common/base1"}

{block name="header"}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/css/style.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/css/user.css" />
<link href="__CDN__/assets/css/user.css?v={$Think.config.site.version}" rel="stylesheet">
<style>
    .statistics h5 {
        margin: 0;
        padding: 15px 0;
        font-size: 16px;
        color: #616161;
    }

    .statistics > div {
        padding: 0 10px;
    }

    .statistics .panel-body span {
        font-size: 16px;
        font-family: Arial, verdana, tahoma;
    }

    .panel-statistics h5 {
        padding-bottom: 0px;
        font-weight: 500;
    }

    .charts h2, .orders h2 {
        font-size: 16px;
    }

    .orders .nav-tabs > li > a {
        font-size: 14px;
        color: #666;
    }

    .orders .nav-tabs > li.active > a, .orders .nav-tabs > li.active > a:hover, .orders .nav-tabs > li.active > a:focus {
        border-color: transparent;
        border-bottom-color: #0084ff;
        color: #444;
    }

    .orders .nav > li > a:hover, .orders .nav > li > a:active, .orders .nav > li > a:focus {
        background: none;
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
    }

    .orders .table thead tr th {
        font-weight: 400;
    }
    .orders .table tbody tr td {
        text-align: center;
    }
</style>
{/block}

{block name="subnav"}
<div class="rt-bar">
    <div class="row">
        <div class="col icon">
            <a href="{php}echo !empty($back_url)?$back_url:url('index/user/index'); {/php}">
                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M29.56 39.47a2 2 0 0 1-1.38-.56L8.45 20 28.17 1.09A2 2 0 1 1 30.94 4L14.23 20l16.71 16a2 2 0 0 1-1.38 3.44z" fill="#ff730a"></path></svg>
            </a>
        </div>
        <div class="col title" style="margin-right: 1.333rem;">{$sub_title?:($title?:'')}</div>
    </div>
</div>
{/block}

{block name="content"}
<main class="content">
    {__CONTENT__}
</main>
{/block}
