<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">广告位名称：</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-name" data-rule="required" class="form-control form-control" placeholder="请输入广告位名称" name="row[name]" type="text" value="">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2"></label>
		<div class="col-xs-12 col-sm-8">
			<span class="n-msg" style="color: #ff0000;">*广告位名称，用来区分和识别广告位的位置</span>
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">广告位标记：</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-mark" data-rule="required" class="form-control form-control" placeholder="请输入广告位标记" name="row[mark]" type="text" value="">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2"></label>
		<div class="col-xs-12 col-sm-8">
			<span class="n-msg" style="color: #ff0000;">*广告位标记，不可重复，可以使用getAdsByMark方法获取广告位信息，可以自行在项目中规划每个广告位的标记名，多位开发者按照约定的标记名创建和维护广告位，避免ID的不确定性</span>
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">广告位类型：</label>
		<div class="col-xs-12 col-sm-8">
			<div class="radio">
				<label for="row[type]-1"><input class="form-input-type" id="row[type]-1" name="row[type]" type="radio" value="1"  checked="checked"> 图片广告</label>
				<label for="row[type]-2"><input class="form-input-type"  id="row[type]-2" name="row[type]" type="radio" value="2"> 多图&幻灯广告</label>
				<label for="row[type]-3"><input class="form-input-type"  id="row[type]-3" name="row[type]" type="radio" value="3"> 代码广告</label>
			</div>
		</div>
	</div>
	<div class="form-group form-group-width">
		<label class="control-label col-xs-12 col-sm-2">广告位宽度：</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-width"  class="form-control form-control" placeholder="广告位图片的宽度" name="row[width]" type="number" value="0">
		</div>
	</div>
	<div class="form-group form-group-height">
		<label class="control-label col-xs-12 col-sm-2">广告位高度：</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-height"  class="form-control form-control" placeholder="广告位图片的高度" name="row[height]" type="number" value="0">
		</div>
	</div>
	<div class="form-group form-group-code" style="display: none;">
		<label class="control-label col-xs-12 col-sm-2">自定义广告代码：</label>
		<div class="col-xs-12 col-sm-8">
			<textarea  class="form-control form-control"  name="row[code]" rows="5" ></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2"></label>
		<div class="col-xs-12 col-sm-8">
			<span class="n-msg" style="color: #ff0000;">* 广告位创建成功后，请及时给广告位添加广告内容！</span>
		</div>
	</div>
	<div class="form-group layer-footer">
		<label class="control-label col-xs-12 col-sm-2"></label>
		<div class="col-xs-12 col-sm-8">
			<button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
			<button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
		</div>
	</div>
</form>